<!-- slider Start -->
<section id="slider">
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slider">
      <div class="my-slider">
        <div class="slider-wrapper">
          <div class="item active">
            <img src="images/slider-img1.png" alt="" class="img-responsive">
            <div class="caption head_padd">
              <div class="ver-cen-out">
                <div class="ver-cen-inn">
                  <div class="caption-inner">
                    <p>All new <br> verity.</p>
                    <a href="#" class="btn btn-default">Shop now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="images/slider-img2.png" alt="" class="img-responsive">
            <div class="caption head_padd">
              <div class="ver-cen-out">
                <div class="ver-cen-inn">
                  <div class="caption-inner">
                    <p>All new <br> verity.</p>
                    <a href="#" class="btn btn-default">Shop now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="controlls">
          <div class="prev"></div>
          <div class="next"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- slider End -->
