<!-- slider Start -->
<section id="slider">
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slider">
      <div class="my-slider">
        <div class="slider-wrapper">
          <div class="item active">
            <img src="images/slider-img1.png" alt="" class="img-responsive">
            <div class="caption head_padd">
              <div class="ver-cen-out">
                <div class="ver-cen-inn">
                  <div class="caption-inner">
                    <p>All new <br> verity.</p>
                    <a href="#" class="btn btn-default sliderShopNow">Shop now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="images/slider-img2.png" alt="" class="img-responsive">
            <div class="caption head_padd">
              <div class="ver-cen-out">
                <div class="ver-cen-inn">
                  <div class="caption-inner">
                    <p>All new <br> verity.</p>
                    <a href="#" class="btn btn-default sliderShopNow">Shop now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="controlls">
          <div class="prev"></div>
          <div class="next"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- slider End -->

<section id="products">
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 products">
      <p class="main-heading">Products</p>
      <p class="main-small-heading">check out some products we provide..</p>

      <div class="all-products parent">
        <div class="left">
          <ul class="list-inline">
            <li>
              <div class="inner small">
                <a href="#">
                  <div class="product-main">
                    <img src="images/products/small-prod-img1.png" alt="" class="img-responsive">
                    <p>Electronnics</p>
                    <div class="caption">

                    </div>
                  </div>
                </a>
              </div>
            </li>
            <li>
              <div class="inner small">
                <a href="#">
                  <div class="product-main">
                    <img src="images/products/small-prod-img2.png" alt="" class="img-responsive">
                    <p>face washes</p>
                    <div class="caption">

                    </div>
                  </div>
                </a>
              </div>
            </li>
            <li>
              <div class="inner small">
                <a href="#">
                  <div class="product-main">
                    <img src="images/products/small-prod-img3.png" alt="" class="img-responsive">
                    <p>creams</p>
                    <div class="caption">

                    </div>
                  </div>
                </a>
              </div>
            </li>
            <li>
              <div class="inner small">
                <a href="#">
                  <div class="product-main">
                    <img src="images/products/small-prod-img4.png" alt="" class="img-responsive">
                    <p>Hair cream</p>
                    <div class="caption">

                    </div>
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="right">
          <div class="inner big">
            <a href="#">
              <div class="product-main">
                <img src="images/products/big-prod-img5.png" alt="" class="img-responsive">
                <p>ALL PRODUCTS</p>
                <div class="caption">

                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- <ul>
          <li class="small">
            <a href="#">
              <div class="product-main">
                <img src="images/products/small-prod-img1.png" alt="">
                <p>ELECTRONICS</p>
                <div class="caption">

                </div>
              </div>
            </a>
          </li>
          <li class="small">
            <a href="#">
              <div class="product-main">
                <img src="images/products/small-prod-img2.png" alt="">
                <p>FACE WASHES</p>
                <div class="caption">
                  <div class="big">
                    <a href="#">
                      <div class="product-main">
                        <img src="images/products/big-prod-img5.png" alt="">
                        <p>ALL PRODUCTS</p>
                        <div class="caption">

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="small">
            <a href="#">
              <div class="product-main">
                <img src="images/products/small-prod-img3.png" alt="">
                <p>CREAMS</p>
                <div class="caption">

                </div>
              </div>
            </a>
          </li>
          <li class="small">
            <a href="#">
              <div class="product-main">
                <img src="images/products/small-prod-img4.png" alt="">
                <p>HAIR CREAMS</p>
                <div class="caption">

                </div>
              </div>
            </a>
          </li>
          <li class="big">
            <a href="#">
              <div class="product-main">
                <img src="images/products/big-prod-img5.png" alt="">
                <p>ALL PRODUCTS</p>
                <div class="caption">

                </div>
              </div>
            </a>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</section>
