*{
  box-sizing: border-box;
}
html,body{
  margin: 0;
  font-family: calibri;
}
.container{
  padding: 0 15px;
}
@media (min-width: 1280px){
  .container{
    width: 1200px;
    margin: auto;
  }
}
/* IMG RESPONSIVE */
.img-respo{
  display: block;
  height: auto;
  max-width: 100%;
}
/* GRID BASICS */
.wid-100{
  width: 100%;
}
.wid-50{
  width: 50%;
}
// with font 0
.grid-with-0-parent{
  display: table;
  font-size: 0;
  .grid-with-0-child{
    font-size: 0;
    display: inline-block;
    vertical-align: top;
  }
}
// with float
.grid-with-float-parent{
  display: table;
  .grid-with-float-child{
    float: left;
  }
}
.grid-with-margin-parent{
  display: table;
  margin-left: 2px;
  .grid-with-margin-child{
    display: inline-block;
    vertical-align: top;
    margin-left: -2px;
    margin-right: -2px;
  }
}

// basic inline ul
.list-inline{
  display: table;
  margin: 0;
  padding: 0;
  li{
    display: inline-block;
  }
}
